@model IEnumerable<BLOG_ValueObject.EntityObject.BlogObject>
@using WebApplication.App_Start
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutCommon.cshtml";
}

<header class="masthead" style="background-image: url('/Content/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <div class="post-preview">
                        <a href="@Url.Action("Detail", "Home", new { id = item.idBlog, title = stringHelper.GenerateURL(item.title)})">
                            <h2 class="post-title">
                                @item.title
                            </h2>
                            <h3 class="post-subtitle">
                                @item.summury
                            </h3>
                        </a>
                        <p class="post-meta">
                            Posted by @item.author @item.updated_at.Value.ToShortDateString()
                        </p>
                    </div>
                    <hr />
                }
            }
            <!-- Pager -->
            @for (int i = 0; i <= ViewBag.maxPage; i++)
            {
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Home", new { pageIndex = i })">@(i + 1)</a>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />