@model BLOG_ValueObject.EntityObject.UserObject

@{
    ViewBag.Title = "UserAdminUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPageLayout.cshtml";
}

<h2>Update</h2>

@using (Html.BeginForm("UserAdminUpdate", "UserAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input name="idUser" value="@Model.idUser" class="hidden" />
    <input name="created_at" value="@Model.created_at" class="hidden" />

    <div class="form-group">
        <div class="col-md-6">
            <label>Account</label>
            <input name="userName" value="@Model.userName" placeholder="Username" required class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label>Password</label>
            <input name="passWord" value="@Model.passWord" type="password" placeholder="Password" required class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label>Email</label>
            <input name="email" value="@Model.email" type="email" placeholder="Email" required class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label>Full name</label>
            <input name="fullName" value="@Model.fullName" placeholder="Full name" required class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <label>Mobile</label>
            <input name="mobile" value="@Model.mobile" placeholder="Mobile" required class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a href="@Url.Action("UserAdminShowListIndex", "UserAdmin")" class="btn btn-link">Return</a>
        </div>
    </div>
</div>
}
